/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #f02e65;
  --vp-c-brand-light: #da486e;
  --vp-c-brand-lighter: #d74a71;
  --vp-c-brand-lightest: #d06483;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: #646CFF14;
  --vp-c-green: #10b981;
  --vp-c-green-light: #34d399;
  --vp-c-green-dark: #059669;
  --vp-c-purple-light: #c9a4e3;
  --vp-c-purple-dark: #5B1390FF;
}

/**
 * Containers Background Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-danger-bg-opacity: rgba(208, 100, 131, 0.25);
  --vp-c-tip-bg-opacity: rgba(69, 76, 225, 0.1);
  --vp-c-warning-bg-opacity: rgba(180,83,9, 0.1);
  --vp-c-solution-bg-opacity: rgba(110, 231, 183, 0.25);
  --vp-c-info-bonus-bg-opacity: rgba(183, 110, 231, 0.25);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: #f02e65;

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-solution-border: var(--vp-c-green);
  --vp-custom-block-solution-text: var(--vp-c-green-dark);
  --vp-custom-block-solution-bg: var(--vp-c-solution-bg-opacity);
  --vp-custom-block-tip-border: var(--vp-c-brand-darker);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-tip-bg-opacity);
  --vp-custom-block-warning-bg: var(--vp-c-warning-bg-opacity);
  --vp-custom-block-danger-bg: var(--vp-c-danger-bg-opacity);
  --vp-custom-block-info-bonus-text: var(--vp-c-purple-dark);
}

.dark {
  --vp-custom-block-solution-border: var(--vp-c-green);
  --vp-custom-block-solution-text: var(--vp-c-green-light);
  --vp-custom-block-solution-bg: var(--vp-c-solution-bg-opacity);
  --vp-custom-block-tip-border: var(--vp-c-brand-dark);
  --vp-custom-block-tip-text: var(--vp-c-brand-dark);
  --vp-custom-block-tip-bg: var(--vp-c-tip-bg-opacity);
  --vp-custom-block-warning-bg: var(--vp-c-warning-bg-opacity);
  --vp-custom-block-danger-bg: var(--vp-c-danger-bg-opacity);
  --vp-custom-block-info-bonus-text: var(--vp-c-purple-light);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.name {
  max-width: unset !important;
}

.text {
  max-width: unset !important;
}

.tagline {
  max-width: unset !important;
}

img {
  border-radius: 10px;
}